/*
 * Copyright (C) 2013 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "imx6q.dtsi"
#include "icorem6qdl.dtsi"

/ {
	model = "Engicam i.CoreM6 Dual/Quad wi openframe";
	compatible = "fsl,imx6-icore", "fsl,imx6q";
};

&ldb {
	ipu_id = <0>;
	sec_ipu_id = <0>;
};

&mxcfb1 {
	status = "okay";
};

&mxcfb2 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&uart3 {
	fsl,uart-has-rtscts;
	status = "okay";
};


&i2c3 {

	polytouch: st1232_ts@55 {
		compatible = "sitronix,st1232-ts";
		reg = <0x55>;
		pinctrl-names = "default";		
		pinctrl-0 = <&pinctrl_st1232_ts>;
		interrupt-parent = <&gpio5>;
		interrupts = <30 0>;	
		reset-gpios = <&gpio6 0 1>;
		// Different setting for Ampire/URT
		// invert_y = <0>; for Ampire  LCD 
		// invert_y = <1>; for URT  LCD 
		invert_y = <0>;
	};


	// New touch 4.3" AVD
	maxtouch@4a {
		compatible = "atmel,maxtouch";
		reg = <0x4a>;
		pinctrl-names = "default";		
		pinctrl-0 = <&pinctrl_maxtouch_ts>;
		interrupt-parent = <&gpio5>;
		interrupts = <30 0>;	
	};
	
	// Optional RTC
	pcf8563: rtc@51 {
		compatible = "pcf8563";
		reg = <0x51>;
	};

};


&iomuxc {
	touchpanel{
		pinctrl_st1232_ts:  st1232-tsgrp  {
			fsl,pins = <
				MX6QDL_PAD_CSI0_DAT12__GPIO5_IO30 0x1b0b0 /*interrupt*/ 
				MX6QDL_PAD_CSI0_DAT14__GPIO6_IO00 0x1b0b0 /*reset edt*/
			>;
		};
	};
};

&iomuxc {
	touchpanel{
		pinctrl_maxtouch_ts:  maxtouch-tsgrp  {
			fsl,pins = <
				MX6QDL_PAD_CSI0_DAT12__GPIO5_IO30 0x1b0b0 /*interrupt*/ 
			>;
		};
	};
};
